/* tags-> classes-> ids (alphabetical) */
*{
  margin:0;
  padding:0;
  box-sizing: border-box; 
  /* includes p,m in specified w,h. */
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.skills h1, .projects h1, .about h1, .extra h1 {
  font-size: 48px;
  color: #183D5D;
}

/* header->nav->ul->li->text */
nav{
  display: flex;
  justify-content: flex-end; /*affects horizontal position, affects ul*/
  align-items: center; /*affects vertical position*/
  
}

#nav-bar a {
  border-radius: 3px;
}

#nav-bar a:hover {
  background-color: #183D5D;
  color: white;
  transition: 0.3s;
}

header{
  width:100vw;
  height: 10vh;
  position: relative fixed;
  /* background:#E44E3F; */
   /*affects bg of child as well unless it has its own color*/
  /* border: 2px solid blue; */
}
/* -------------------class------------------------- */
.about, .skills, .projects, .extra
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height:100vh;
}

.home{
  /* border: 3px solid pink; */  
display: flex; /*default was row*/
flex-direction: column;
justify-content: center; 
align-items: center;
height: 90vh;
}
.intro{
  /* margin: 10px auto; */
  z-index:2;
  filter: none;
}
.landing
{
  /* background-image: url("../img/794531.jpg"); */
  background-repeat: none;
  background-size: cover;
  color: #183D5D;
  height: 100vh;
  
  /* filter: blur(1px); */
}
/* ----------------------------id--------------------------------- */
#links{
  /* border: 1px red solid; */
  margin: 12px 24px; /*added margin from interior of ul*/
}
#name{
  font-size: 56px;
  text-shadow: 2px 2px #183D5D;
}

#nav-bar{
  display: flex;
  /* border: 2px black solid; */
  list-style: none;
  justify-content: space-between; /*affects li element, but didn't separate elements until li properties were added*/
  /* margin: 2px; adds margin to ul element from top */
  /* background: white; */
}

#role
{
  font-size: 63px;
  text-shadow: 2px 2px #12111680;
}

.objective h3 {
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
}

.skills {
}

.card-container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 60vh;
  margin-top: 30px;
}

.card-list {
  display: flex;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 35vh;
  margin: 20px;
  font-size: 32px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.cpp, .package {
  background-color: #608BC2;
  box-shadow: 0 20px 50px rgba(96,139,194,0.8);
}

.java {
  background-color: #0074BD;
  box-shadow: 0 20px 50px rgba(0,116,189,0.8);
}

.react {
  background-color: #61DAFB;
  box-shadow: 0 20px 50px rgba(97,218,251,0.8);
}

.html {
  background-color: #F76100;
  box-shadow: 0 20px 50px rgba(247,97,0,0.8);
}

.css {
  background-color: #264DE4;
  box-shadow: 0 20px 50px rgba(38,77,228,0.8);
}

.c, .tnp {
  background-color: #9C004C;
  box-shadow: 0 20px 50px rgba(156,0,76,0.8);
}