/* tags-> classes-> ids (alphabetical) */
*{
  margin:0;
  padding:0;
  box-sizing: border-box; 
  /* includes p,m in specified w,h. */

}
/* header->nav->ul->li->text */
nav{
  display: flex;
  justify-content: flex-end; /*affects horizontal position, affects ul*/
  align-items: center; /*affects vertical position*/
  font-family: 'Abril Fatface', cursive;
  
}

header{
  width:100vw;
  height: 10vh;
  position: relative fixed;
  /* background:#E44E3F; */
   /*affects bg of child as well unless it has its own color*/
  /* border: 2px solid blue; */
}
/* -------------------class------------------------- */
.about
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height:100vh;
}
.home{
  /* border: 3px solid pink; */  
font-family: 'IM Fell Great Primer SC', serif;
display: flex; /*default was row*/
flex-direction: column;
justify-content: center; 
align-items: center;
height: 90vh;
}
.intro{
  /* margin: 10px auto; */
  z-index:2;
  filter: none;
}
.landing
{
  background-image: url("../img/794531.jpg");
  background-repeat: none;
  background-size: cover;
  color:#634040;
  height: 100vh;
  
  /* filter: blur(1px); */
}
/* ----------------------------id--------------------------------- */
#links{
  /* border: 1px red solid; */
  margin: 12px 24px; /*added margin from interior of ul*/
}
#name{
  font-size: 56px;
  text-shadow: 2px 2px #12111680;


}

#nav-bar{
  display: flex;
  /* border: 2px black solid; */
  list-style: none;
  justify-content: space-between; /*affects li element, but didn't separate elements until li properties were added*/
  /* margin: 2px; adds margin to ul element from top */
  padding: 12px;
  /* background: white; */
}

#role
{
  font-size: 63px;
  text-shadow: 2px 2px #12111680;
}