*{
  margin:0;
  padding:0;
  box-sizing: border-box; 
  /* includes p,m in specified w,h. */

}
/* header->nav->ul->li->text */
nav{
  display: flex;
  justify-content: flex-end; /*affects horizontal position, affects ul*/
  align-items: center; /*affects vertical position*/
  font-family: 'Abril Fatface', cursive;
  color: white;
}
ul{
  display: flex;
  /* border: 2px black solid; */
  list-style: none;
  justify-content: space-between; /*affects li element, but didn't separate elements until li properties were added*/
  /* margin: 2px; adds margin to ul element from top */
  padding: 12px;
  /* background: white; */
}
li{
  /* border: 1px red solid; */
  margin: 12px 24px; /*added margin from interior of ul*/
}
header{
  width:100%;
  background:#E44E3F; /*affects bg of child as well unless it has its own color*/
  /* border: 2px solid blue; */
}
.home{
  border: 3px solid pink;
  
  font-family: 'Righteous', cursive;
display: flex; /*default was row*/
flex-direction: column;
justify-content: center; 
align-items: center;
}